@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white {
  background-color: white;
}
.dark .bg-white {
  background-color: black;
}

/* assets/css/main.css */
.bg-custom {
  background-color: #f0f0f0; /* Light mode background */
}
.dark .bg-custom {
  background-color: #1a202c; /* Dark mode background */
}


body {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Change to 500 or 700 as needed */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
